body {
  background: pink;
}
/*styling h1*/
h1 {
  color: blue;
  font-size: 3em;
}
/*styling h2*/
h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}
/*styling class selector on the list*/
.completed {
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*styling the id selector*/
#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}